@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
	  --primary: #f9fafb;
	  --secondary: #10b981;
	  --accent: #059669;
	  --neutral: #111827;
	  --base: #e5e7eb;
	}
	:root[data-theme="dark"] {
		--primary: #111827;
        --secondary: #10b981;
        --accent: #34d399;
        --neutral: #f3f4f6;
        --base: #1f2937;
	}
}

@layer components {
    .custom-container {
        @apply max-w-7xl mx-auto px-4;
    }
	.custom-input {
		@apply p-4 bg-primary text-neutral shadow-md rounded-md focus:outline-1 focus:outline-accent focus:outline-offset-2 w-full;
	}
	.custom-button {
		@apply bg-secondary shadow-md py-4 px-5 rounded-md text-primary text-center font-semibold uppercase
	}
	.skills-container {
        @apply max-w-4xl mx-auto px-4;
    }
    .custom-shadow {
        box-shadow: 1px 1px 3px 1px var(--secondary);
    }
}

.mask-image {
    width: 145%;
    height: 97px;
}

/* HEXAGON STARTS HERE */
.hex {
	width:150px;
	height:86px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	background-size: auto 173px;													
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}
		
	.hex.hex-gap {
		margin-left: 86px;
	}
	
	.hex a {
		display:block;
		width: 100%;
		height:100%;
		text-indent:-9999em;
		position:absolute;
		top:0;
		left:0;
	}

	.hex .corner-1,
	.hex .corner-2 {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: inherit;								
		z-index:-2;						
		overflow:hidden;
		backface-visibility: hidden;		
	}
	
	.hex .corner-1 {
		z-index:-1;
		transform: rotate(60deg);
	}
	
	.hex .corner-2 {
		transform: rotate(-60deg);
	}
	
	.hex .corner-1:before,
	.hex .corner-2:before {
		width: 173px;
		height:	173px;
	  content: '';
	  position: absolute;
	  background: inherit;
	  top:0;
	  left: 0;
	  z-index: 1;
	  background: inherit;
	  background-repeat:no-repeat;
	  backface-visibility: hidden;				  
	}			
	

	.hex .corner-1:before {
		transform: rotate(-60deg) translate(-87px, 0px);	
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}			
	
	.hex .corner-2:before {
		-webkit-transform: rotate(60deg) translate(-48px, -11px);
		-moz-transform: rotate(60deg) translate(-48px, -11px);
		-ms-transform: rotate(60deg) translate(-48px, -11px);
		-o-transform: rotate(60deg) translate(-48px, -11px);
		transform: rotate(60deg) translate(-48px, -11px);	
		bottom:0;
	}		


	
	/* Custom styles*/
	.hex .inner {		
		color:#eee;
	}
	
	.hex h4 {
		font-family: 'Josefin Sans', sans-serif;		
		margin:0;			
	}
	
	.hex hr {
		border:0;
		border-top:1px solid #eee;
		width:60%;
		margin:15px auto;
	}
	
	.hex p {
		font-size:16px;
		font-family: 'Kotta One', serif;
		width:80%;
		margin:0 auto;
	}

	.hex.hex-1 {
		background: #74cddb;
	}
	
	.hex.hex-2 {
		background: #f5c53c;
	}
	
	.hex.hex-3 {
		background: #80b971;
	}

	.line {
		/* position: absolute; */
		background-color: #000;
		height: 2px;
		width: 5%;
		/* top: -20px; */
		/* left: 50%; */
		transform: translate(-50%, -50%) rotate(90deg);
		z-index: 1;
	  }
	  
	  .dot {
		/* position: absolute; */
		width: 10px;
		height: 10px;
		background-color: #000;
		border-radius: 50%;
		/* top: -50px; */
		/* left: 50%; */
		transform: translate(-50%, -50%);
		z-index: 2;
	  }